.form-card {
  max-width: 400px;
  margin: 40px auto;
  padding: 24px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-card-content form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mat-mdc-form-field-appearance-outline .mat-mdc-form-field-label {
  font-weight: 600;
  color: black;
}

.form-actions {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.form-actions button {
  flex: 1;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.form-actions button[type="submit"] {
  background-color: steelblue
}

.form-actions button[type="button"] {
  background-color: gray
}

.form-actions button[type="submit"]:hover {
  background-color: steelblue
}

.form-actions button[type="button"]:hover {
  background-color: gray
}
