<h1>Car Inventory</h1>

<div *ngIf="error" class="error-message">
  {{ error }}
</div>

<div class="content-item" *ngFor="let car of cars">
  <div class="car-info">
    <h2>{{ car.make }} {{ car.model }}</h2>
    <p>VIN: <a [routerLink]="['/cars',car.vin ]">{{car.vin}}</a></p>
    <p>Year: {{ car.year }}</p>
    <p *ngIf="car.color">Color: {{ car.color }}</p>
  </div>

  <div class="buttons">
    <button [routerLink]="['/modify-car',car.vin ]">Edit</button>
    <button type="button" (click)="OnDelete(car.vin)">Delete</button>
  </div>
</div>
