<!--<div class="space">-->
<!--<h2>Car Inventory</h2>-->

<!--  <div class="container">-->
<!--    <div *ngFor = "let car of cars">-->
<!--      <h3>{{car.vin}}</h3>-->
<!--      <p><strong>Year:</strong> {{car.year}}</p>-->
<!--      <p><strong>Make:</strong> {{car.make}}</p>-->
<!--      <p><strong>Model:</strong> {{car.model}}</p>-->
<!--      <p *ngIf="car.color"><strong>Color:</strong> {{car.color}}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--<app-car-list-item *ngIf="selectedCar" [car]="selectedCar"></app-car-list-item>-->

<div class="nav-bar">
  <nav>
    <a routerLink="/cars" routerLinkActive="active">Car List</a>
    <a routerLink="/modify-car" routerLinkActive="active">Modify Car</a>
  </nav>
</div>

<router-outlet></router-outlet>


