
.car-card-material {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 16px;
  margin: 16px auto;
  max-width: 400px;
}

.car-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 8px 0;
}

mat-card-title h1 {
  margin: 0;
  font-size: 1.5rem;
  color: darkred;
}

.car-info-content {
  width: 100%;
  text-align: left;
  padding-top: 10px;
}

.car-info-content p {
  margin: 8px 0;
  font-size: 1rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
}

.car-info-content mat-icon {
  color: darkred;
  font-size: 20px;
}

.price-info {
  font-weight: bold;
}
